// Navigation Styles here

.ContainerNav {
    display: flex;
    justify-content: space-between;
    padding: 2% 18%;
    border-bottom:2px dashed lightgrey;
}
.ContainerNav nav{
    display:flex;
    justify-content: space-around;
    margin:2%;
}
.ContainerNav nav a{
    display:flex;
    justify-content: space-around;
    margin:0% 1%;
    width: 7vw;
    height:1vh;
    text-decoration: none;
    color:black;
    font-size:1.4rem;
    font-weight: bold;
  
}
